.BannerSecond {
    @include verticalAlignment;
    align-items: center;
    justify-content: center;
   
    background-image:url('../../../images/main/bannersecond/background.png');
    background-size: cover;
    font-family: $font;
    color: $colorTextWhite;

    p {
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;

        color: rgba(255, 255, 255, 0.6);
    }

    h3 {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
    }
}

@media #{$width-desktop} { 
    .BannerSecond {
        height: 536px;
    }
}

@media #{$width-tablet} { 
    .BannerSecond {
        height: 267px;
    }
}

@media #{$width-mobile} { 
    .BannerSecond {
        height: 276px;
        background-image:url('../../../images/main/bannersecond/backgroundMobile.png');
        h3 {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
        }
        p {
            max-width: 264px;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
        }
    }
}