.ItemNews-white {
    @include verticalAlignment;

    font-family: $font;
    &:hover {
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
}

.ItemNews-white-Img {
    object-fit: cover;
    height: auto;
    width: 100%;
    margin-bottom: 20px
}

.ItemNews-white-Data {
    @include horizontalAlignment;
    gap: 3px;
}

.ItemNews-white-Data p {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.ItemNews-white-DataPublication {
    color: $colorTextGrey;
}

.ItemNews-white-Title {
    margin: 10px auto;
    @include fontTitle;

    color: $colorTitleDark;
}

.ItemNews-white-Text {
    @include fontTextNews;
    color: $colorTextGrey;
}

@media #{$width-desktop} { 
    .ItemNews-white {
        max-width: 640px;
        
        max-height: 561px;
        margin-bottom: 60px;
    }
}

@media #{$width-tablet} { 
    .ItemNews-white {
        max-width: 360px;
        max-height: 469px;
        margin-bottom: 40px;
    }
}
@media #{$width-mobile} { 
    .ItemNews-white {
        max-width: 320px;
        max-height: auto;
        margin-bottom: 30px;

        h3 {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;

            letter-spacing: -0.01em;
        }
        p {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
        }
    }    

    .ItemNews-white-Data,
    .ItemNews-white-Title, 
    .ItemNews-white-Text {
        padding-right: 15px;
        padding-left: 15px;
    }
}